<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main.js}" defer></script>
</head>
<body>
<header>
    <div class="container">
        <h1>Online Quiz Application</h1>
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/quizzes}">Quizzes</a>
            <a th:href="@{/profile}">Profile</a>
            <a th:href="@{/logout}">Logout</a>
        </nav>
    </div>
</header>
